

div {
 width: 100px;
 height: 100px;
 position:relative;
 background-color: rgb(0, 255, 55);
 animation-name: example;
 animation-duration: 6s;
 animation-iteration-count: infinite;
}
@keyframes example {
 10% {background-color: red; left:350px;}
 150% {background-color: yellow; left:200px;}
 200% {background-color: rgb(27, 40, 255); left:400px;}
}


div {
 width: 100px;
 height: 100px;
 position: relative;
 background-color: rgb(98, 0, 255);
 animation-name: example;
 animation-duration: 4s;
 animation-iteration-count: infinite;
 animation-direction: alternate ; 
 
}
@keyframes example {
 0% {background-color: red; left:20px; top:0px;}
 25% {background-color: blue; left:30px; top:200px;}
 50% {background-color: green; left:400px; top:200px;}
 75% {background-color: yellow; left:500px; top:0px;}
 100% {background-color: red; left:20px; top:0px;}
}

